
<h1> Adult Language Activity A </h1>
<h2> Describing </h2>
<p>
  You may be asked to write about a certain topic or asked about
  what a picture or computer animation is showing.  For example, you may
  be asked, "Can you describe what is happening in this picture?".
  This activity will take place on a computer.
</p>
