<h1> Adult Language Activity J </h1>
<h2> Shapes </h2>
<p>
  You may be asked to participate in activities that assess your
  reaction times. You may be shown words, sentences, colors, images, or
  shapes and be asked to make a decision about them. This activity will
  take place on a computer.
</p>
