<h1> Adult Language Activity C </h1>
<h2>Imitation</h2>
<p>
  You may listen to or see a series of words or sentences and be asked
  to repeat them. The words or sentences may be played or presented
  visually on a computer.  This activity will take place on a computer.
</p>
