<p>
  By signing this consent form, you are agreeing to your participation
  in the activities described in the consent form and for the number of
  sessions described in the consent form.  But you may end your
  participation at any time for any reason.  You only participate in
  this study if you want to.  If you do not want to participate, you can
  stop at any point.  Nothing will happen to you.  It is possible that
  you may learn something about English (like new words) while
  participating.
</p>

<p>
  You will be reimbursed for expenses involved in participating in the
  study (if funding is available), in the amount of $2.50 per session
  (of approximately 45 minutes to 1 hour), or you may choose to
  volunteer if funding is not available.
</p>

<p>
  If you become uncomfortable during the study, you may stop the session
  immediately.  If you wish to stop a session for any reason, you can do
  so at any time. Nothing will happen to you.  It will not influence
  your relationship with Hunter College or CUNY.  If the study raises
  some concerns for you during or after the study, you can contact the
  researchers, who can provide a list of resources to help you.
</p>

<p>
  This project is basic research. The researchers do not compare
  individual participants.  They compare groups.  They want to
  understand how people generally learn languages.  Results are
  published as articles in scientific journals.  Your name will never
  appear in published reports of the study.  No one will be able to
  identify you.  You can ask for a copy of any reports that are written
  about the study’s findings.
</p>

<p>
  All materials (including digital files from the sessions) will be kept
  for at least five years after the date of publication of articles that
  come from the study.  All materials will be confidential and will not
  leave the laboratory of the Hunter College Language Acquisition
  Research Center under any circumstances.  Written materials will be
  kept in locked file cabinets in the locked laboratory.  Keys are
  available only to Dr. Valian and to trained personnel working directly
  under Dr. Valian’s supervision.  The laboratory is always locked
  unless trained research assistants are actively working inside it.
</p>

<p>
  If participants have any questions about the project, they may call
  Dr. Valian’s laboratory at (212) 772-5557 or email
  little.linguist@hunter.cuny.edu.
</p>

<p>
  A copy of the Institutional Assurance filed by the Research
  Foundation, CUNY, with the U.S. Department of Health and Human
  Services is available for you to see.  If you have any questions
  regarding your rights as a participant, or if you believe you have
  experienced any research-related injuries, you should call Hunter
  College Human Research Protection Program (HRPP) Office at
  212-650-3053, or email hrpp@hunter.cuny.edu.
</p>

<div class="container consent-list">
  <div class="row">
    <div class="col-md-8">
      I have read and understood the information above. I consent to
      participate in this study of Adult Language Development
    </div>
    <div class="col-md-4">
      <input type="checkbox" class="form-control mandatory"
             data-consent-num="1">
    </div>
  </div>
</div>
