<h1>
  Consent Form for Language Acquisition Research Center
  Adults' Study English Version
</h1>
<p>
  This is a study about how people learn language. After you read this
  form, you will check a box to indicate your agreement to
  participate. Dr. Virginia Valian, Director of the Language
  Acquisition Research Center (LARC) in the Hunter College Department
  of Psychology, conducts this research project. LARC's research
  focuses on language speakers who come from many different
  backgrounds. Sometimes the researchers will focus on adults just
  beginning to learn English, sometimes on adults who are bilingual
  English speakers, and sometimes on adults who only speak
  English. The researchers study the sentences people use, the words
  that people include or leave out of sentences, and the relationship
  between the sentences people understand and the sentences they
  say. This project will contribute to a growing understanding of
  language development and language use.
</p>
<p>
  Only individuals over 18 years of age are eligible to participate in
  this research. You have been selected to participate in the study
  because you meet our eligibility requirements and you have
  demonstrated an interest in volunteering to participate. A total of
  about 1750 people will be in this study.
</p>
<p>
  You will be asked to participate in 1 session. The activities in
  this session will require approximately 45 minutes to 1 hour to
  complete. The sessions will take place on your computer using an
  online program. We are making every effort to ensure that no one
  knows what your responses are. We have purchased an encryption
  certificate for the web site hosting this program to reduce the risk
  that your responses will be viewed by unauthorized persons. The web
  site will be run through a secure http server, such as those used to
  handle banking transactions, to protect responses from unauthorized
  third parties, such as computer hackers.
</p>
<p>
  The research involves a number of activities that focus on how
  people use language. The specific activities will depend on your
  language background and the researchers’ current interests. The next
  page contains a list of activities that you may participate in
  during this study.
</p>
<p>
  You may be asked to participate in activities that help the
  researcher assess your English language proficiency e.g., by taking
  a modified version of the Michigan Test of English Language
  Proficiency, or MTELP. The MTELP is a listening test that takes
  approximately 15 minutes to complete.
</p>
<p>
  You may be asked to complete a brief general questionnaire
  requesting information such as the language(s) you speak, your
  educational background, and your occupation or occupational
  goals. You may choose not to answer the questions if you do not want
  to answer them. The questionnaire may take place using embedded
  online survey software by Survey Gizmo, a company that has tools for
  online survey research. The researchers have purchased an encrypted
  version of their product to reduce the risk to participants that
  their responses will be viewed by unauthorized persons. However, the
  study is not being run from a secure http server such as those used
  to handle banking transactions, so there is a small possibility that
  responses could be viewed by unauthorized third parties, such as
  computer hackers.
</p>
<p>
  You may also be asked to complete an optional Racial and Ethnic
  Identification Form. You may choose not to answer the questions if
  you do not want to answer them.
</p>
