<h1>
  Written Response Release Consent Form
</h1>
<p>
  Project Title: Adults’ Language Development
</p>
<p>
  Researcher: Dr. Virginia Valian, Director of the Language Acquisition
  Research Center in the Hunter College Department of Psychology.
</p>

<p>
  As part of this project, written (typed) responses will be generated
  during the session.  Please indicate below the uses of the written
  (typed) responses to which you are willing to consent.  This is
  completely voluntary.  In any use of the written (typed) responses,
  your name will not be identified.
</p>

<div class="container consent-list">
  <div class="row">
    <div class="col-md-8">
      The transcribed written (typed) responses can be studied by the
      research team for use in the research project.
    </div>
    <div class="col-md-4">
      <input type="checkbox" class="form-control mandatory"
             data-consent-num="2">
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      The written (typed) responses can be shown at meetings of
      scientists interested in the study of language.
    </div>
    <div class="col-md-4">
      <input type="checkbox" class="form-control"
             data-consent-num="3">
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      The written (typed) responses can be shared with other
      scientists interested in the study of language.
    </div>
    <div class="col-md-4">
      <input type="checkbox" class="form-control"
             data-consent-num="4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      The written (typed) responses can be shown in classrooms to
      students.
    </div>
    <div class="col-md-4">
      <input type="checkbox" class="form-control"
             data-consent-num="5">
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      I have read the above description and give consent for the use
      of the written (typed) responses as indicated above.
    </div>
    <div class="col-md-4">
      <input type="checkbox" class="form-control mandatory"
             data-consent-num="6">
    </div>
  </div>

</div> <!-- /container -->
