h1 {
    text-align: center;
}

.emblem {
    text-align: center;
}
.emblem img {
    width: 100px;
}

.header, .footer {
    font-weight: bold;
}

.footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.right {
    text-align: right;
}

.consent-list {
    margin-top: 20px;
}

.consent-list .row {
    padding: 20px;
    background-color: #EEE;
    margin-bottom: 10px;
}

.continue {
    margin-top: 25px;
}

div.row > div > input[type="checkbox"]:focus {
    outline: 0px none;
}
