
body {
    padding:0px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 18pt;
}


/* text styling */
strong {
  font-weight: 600;
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}


/* these are all the same for now, but easy to modify individually */
#container-ad, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    position: absolute;
    top: 0px; /* Header Height */
    bottom: 0px; /* Footer Height */
    left: 0px;
    right: 0px;
    padding: 20px;
    background: white;
}

#container-instructions-for-real {
    padding: 5% 10%;
}

#container-consent, #container-exp {  /* override padding to fit long consent forms and exp display*/
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1%;
}

/* ad.html  - the ad that people view first */
#adlogo {
    float: right;
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#trial {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

#query {
  color: darkgray;
}

.question {
  margin-bottom: 30px;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}

div.fixation-outer {
  height: 100px;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
}

div.fixation-inner {
  font-size: 24pt;
  text-align: center;
  height: 100px;
  bottom: 0;
  left: 0;
  margin: auto;
  top: 0;
  right: 0;
  width: 600px;
  display: table-cell;
  vertical-align: middle;
}

button.response {
    font-size: 18pt;
}

div.prime-grid > * img {
    margin: 0 auto;
    height: 250px;
    margin: 20px;
}


img.target-image, img.image {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div.center-row {
    text-align: center;
}

.input-group {
    margin: auto !important;
    width: 100%;
}

input[type="text"].detprime-response {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.top-caption, .bottom-caption {
    min-height: 75px;
    text-align: center;
    padding-top: 20px;
}

.table-container {
    width: 100%;
    height: 90%;
    display: table;
}

.row {
    display: table-row;
    vertical-align: middle;
    text-align: center;
}

.col {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


.center-content-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.fixation-cross {
    font-size: 40pt;
}

.center-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.top, .bottom, .middle {
    display: table;
    width: 100%;
}

.top, .bottom {
    padding: 50px 0;
    /* height: 15%; */
}

.middle {
    height: 70%;
}

.text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 12pt;
}

.task-switching-container * {
    font-size: 50pt;
}

.instructionsnav {
    margin-top: 100px;
}

#survey-list ul li{
    list-style: none;
    padding-left: 20px;
}

#survey-list ul li input {
    margin-right: 10px;
}

#survey-list ul li input {
    margin-right: 15px;
}

#survey-list li input[type=text] {
    display: block;
    width: 800px;
}

#survey-list > li  {
    margin: 50px 0;
}

#survey-list > li > table > tr > td {
    text-align: center;
    border-style: none solid;
    border-width: 1px;
    border-color: #BBB;
}

#survey-list > li > table > tr  {
    border-bottom-style: solid;
    border-color: #BBB;
    border-width: 1px;
}
