{% extends "instruct-base.html" %}
{% block header %} Instructions Part 1 {% endblock header %}

{% block body %}
<p>
  Sometimes, you will see a number with the words "{taskName}". You
  will need to decide whether the number is {left} or {right}.
</p>

<p>
  If the number is {left}, press the letter {leftKey} on the keyboard. If
  the number is {right}, press the letter {rightKey} on the
  keyboard. Respond as quickly and as accurately as you can.
</p>

<p> Here is an example. Press NEXT to continue. </p>
{% endblock body %}
