{% extends "instruct-base.html" %}
{% block header %} Instructions Part 2 {% endblock header %}

{% block body %}
<p>
 Other times, you will see a number with the words "{taskName}". You will need to
 decide whether the number is {left} or {right} than 5.
</p>

<p>
  If the number is {left} than 5, press the letter {leftKey} on the keyboard. If the
  number is {right} than 5, press the letter {rightKey} on the keyboard. Respond as
  quickly and as accurately as you can.
</p>
<p>
  Here is an example. Press NEXT to continue.
</p>

{% endblock body %}
