{% extends "instruct-base.html" %}
{% block header %} Instructions {% endblock header %}

{% block body %}
<p>
  You have now finished the practice items.
</p>

<p>
  Remember, if you need to decide between {parityLeft} and {parityRight}, press
  the letter {parityLeftKey} if the number is {parityLeft} and press the
  letter {parityRightKey} if the number is {parityRight}.
</p>

<p>
  If you need to decide between {sizeLeft} and {sizeRight}, press the letter {sizeLeftKey}
  if the number is {sizeLeft} and press the letter {sizeRightKey} if the number is {sizeRight}.
</p>

<p>
  When you are ready, press NEXT to continue.
</p>
{% endblock body %}
