<!doctype html>
<!--
    The consent.html displays the text of your IRB-approved
    consent form.  Even if you are not required to provide
    a consent form, it is helpful to use this form to
    describe what people can do if an error comes up, etc...

  -->
<html>
  <head>
    <title>Psychology Experiment - Informed Consent Form</title>
    <link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
    <link rel=stylesheet href="/static/css/consent.css" type="text/css">
    <script src="/static/lib/jquery-min.js" type="text/javascript"> </script>
    <script src="/static/lib/underscore-1.6.0-min.js" type="text/javascript"> </script>
    <script src="/static/lib/backbone-min.js" type="text/javascript"> </script>
    <script src="/static/lib/d3.v3.min.js" type="text/javascript"> </script>

    <script type="text/javascript">
      var expUrl = "/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}";
    </script>
    <script type="text/javascript" src="/static/js/consent-bundle.js">
    </script>
  </head>
    <body>
    <div class="container">

      <div class="header row">
        <div class="col-md-4">
          <p> Department of Psychology </p>
          <p> Phone: (212) 772-5550/5551 </p>
        </div>

        <div class="col-md-4 emblem">
          <img src="/static/images/emblem.jpg" />
        </div>

        <div class="col-md-4 right">
          <p> Language Acquisition Research Center </p>
          <p> Phone: (212) 772-5557 </p>
        </div>
      </div> <!-- /header -->

      <div class="content-container">
        <div id="content">
        </div>
        <div id="button-container">
          <div class="row">
            <div class="col-md-offset-8 col-md-4">
              <button class="continue btn btn-primary"> Continue </button>
            </div>
          </div>
        </div> <!-- /container -->

      </div> <!-- /content-container -->

      <div class="footer row">
        <div class="col-md-6">
          Hunter College of The City University of New York
        </div>
        <div class="col-md-6 right">
          695 Park Avenue New York, New York 10065
        </div>
      </div><!-- /footer -->

    </div> <!-- /container -->
  </body>
</html>
