<div id="container-instructions-for-real">

  <h1>{% block header %} Instructions {% endblock header %}</h1>

  <hr>

  <div>
    {% block body %}
    {% endblock body %}
  </div>

  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
        <!-- no previous button on first screen -->
      </div>
      <div class="col-xs-8">
      </div>
      <div class="col-xs-2">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
          Next <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
  <audio id="audio-player">
    <source id="audio-mp3-src" src=""
            type="audio/mpeg" />
    <source id="audio-ogg-src" src=""
            type="audio/ogg" />
  </audio>
</div>
