<div id="container-instructions">
  <div class="fixation-outer">
    <div class="btn-group-vertical response-container fixation-inner">
      <button type="button"
	      class="btn btn-default response choice-a"
	      data-choice="a"></button>

      <button type="button"
	      class="btn btn-default response choice-b"
	      data-choice="b"></button>

      <button type="button"
	      class="btn btn-default response choice-c"
	      data-choice="c"></button>
    </div>
  </div>
  <audio id="audio-player">
    <source id="audio-mp3-src"
       type="audio/mpeg" />
    <source id="audio-ogg-src"
       type="audio/ogg" />
  </audio>
</div>
