<div id="container-instructions" class="table-container task-switching-container">
  <div class="center-content-wrapper">
    <div class="center-content">
      <div class="top">
        <div class="text task-type">
          TOP
        </div>
      </div>
      <div class="middle">
        <div class="text feedback">
        </div>
      </div>
      <div class="bottom">
        <div class="text target-num">
          BOTTOM
        </div>
      </div>
    </div>
  </div>
</div>
