{% extends "instruct-base.html" %}

{% block header %} Example A {% endblock header %}

{% block body %}
<div class="fixation-outer">
  <div class="btn-group-vertical response-container fixation-inner">
    <button type="button"
	    class="btn btn-default response choice-a"
	    data-choice="a">
      A. I am
    </button>

    <button type="button"
	    class="btn btn-default response choice-b"
	    data-choice="b">
      B. Tomorrow
    </button>

    <button type="button"
	    class="btn btn-default response choice-c"
	    data-choice="c">
      C. At Home
    </button>
  </div>
</div>


{% endblock body %}
