{% extends "instruct-base.html" %}

{% block header %} Example B {% endblock header %}

{% block body %}
</script>

<div class="fixation-outer">
  <div class="btn-group-vertical response-container fixation-inner">
    <button type="button"
	    class="btn btn-default response choice-a"
	    data-choice="a">
      A. The camera is expensive
    </button>

    <button type="button"
	    class="btn btn-default response choice-b"
	    data-choice="b">
      B. The desk is expensive
    </button>

    <button type="button"
	    class="btn btn-default response choice-c"
	    data-choice="c">
      C. The camera and the desk are expensive
    </button>
  </div>
</div>

{% endblock body %}
