{% extends "instruct-base.html" %}
{% block body %}

<p>
  Please put on your headphones now.
</p>
<p>
  When you are ready, press NEXT to start listening to sentences.
</p>
<p>
  In response to each sentence, you will choose either A, B or C.
</p>

{% endblock body %}
