<div id="container-instructions">
  <div class="center-row">
    <img class="target-image" />
  </div>
  <div class="center-row">
    <div>
      <span class="prompt-sentence"></span>
      <div class="input-group">
        <input type="text" class="detprime-response form-control" autofocus="autofocus"
               id="response">
      </div>
    </div>
  </div>
  <div class="center-row">
    <div class="caption bottom-caption">
    </div>
  </div>
</div>
