<div id="container-instructions" class="table-container">
  <div class="center-content-wrapper">
    <div class="center-row">
      <div>
        <span class="prompt-sentence"></span>
        <div class="input-group">
          <input type="text" class="detprime-response form-control" autofocus="autofocus"
                 id="response">
        </div>
      </div>
    </div>
  </div>
</div>
