{% extends "instruct-base.html" %}
{% block header %} Instructions: Part 2 {% endblock header %}
{% block body %}

<p> Next, you will see one picture at a time. For each picture, you will read
  and write descriptions of what Tommy and Katie are doing. </p>

<p> Sometimes, you will first see a sentence and a picture underneath it. Read
  the sentence to yourself. That sentence will disappear and you will see a new
  sentence below the picture. Remember that sentence because you will have to
  type it on the next screen. Press ENTER when you are finished typing. </p>

<p> Here is an example. Press Next to continue. </p>

{% endblock body %}
