{% extends "instruct-base.html" %}

{% block header %} Instructions: Part 3 {% endblock header %}
{% block body %}
<p>
  For other pictures, you will write your own description. Look at the picture
  and describe what Tommy or Katie is doing. You may use as many or as few words
  as you like. Type your response and press ENTER when you are finished typing.
</p>
<p>
  Here is an example. Press Next to continue
</p>

{% endblock body %}
