{% extends "instruct-base.html" %}
{% block header %} Instructions: Part 2 {% endblock header %}
{% block body %}

<p> Next, you will see one picture at a time. For each picture, you will write
  descriptions of what Tommy or Katie is doing. </p>

<p> Look at the picture and describe what Tommy or Katie is doing. You may use
  as many or as few words as you like. Type your response and press ENTER when
  you are finished typing. </p>

<p> Here is an example. Press Next to continue. </p>

{% endblock body %}
