{% extends "instruct-base.html" %}
{% block header %} Instructions: Part 1 {% endblock header %}
{% block body %}
<p>
  In this task, you will see pictures of either Katie or Tommy doing
  something. A small cross (+) will come before each picture.
</p>
<p>
  On some screens, you will see four small pictures. You will be asked to select
  a picture that shows a certain object or action. Use your mouse to click on
  one of the four pictures.
</p>
{% endblock body %}
