<div id="container-instructions">
  <div class="table-container prime-grid">
    <div class="row">
      <div class="col feedback">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="response q2" data-quadrant="2" />
      </div>
      <div class="col">
        <img class="response q1" data-quadrant="1" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="response q3" data-quadrant="3" />
      </div>
      <div class="col">
        <img class="response q4" data-quadrant="4" />
      </div>
    </div>
  </div>
  <div class="bottom-caption">
  </div>
</div>
