<div id="container-instructions" class="table-container">
  <div class="center-content-wrapper">
    <div class="center-row">
      <div class="caption top-caption">
      </div>
    </div>
    <div class="center-row">
      <img class="image" />
    </div>
    <div class="center-row">
      <div class="caption bottom-caption">
      </div>
    </div>
  </div>
</div>
